<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s1011605.jpg</string>
		<key>title</key>
		<string>金融学</string>
		<key>author</key>
		<string>(美)博迪</string>
		<key>publisher</key>
		<string>中国人民大学出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s4285980.jpg</string>
		<key>title</key>
		<string>金融学</string>
		<key>author</key>
		<string>兹维·博迪(Zvi Bodie)</string>
		<key>publisher</key>
		<string>中国人民大学出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s23008962.jpg</string>
		<key>title</key>
		<string>金融学</string>
		<key>author</key>
		<string>黄达</string>
		<key>publisher</key>
		<string>中国人民大学出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s11114045.jpg</string>
		<key>title</key>
		<string>金融学</string>
		<key>author</key>
		<string>黄达</string>
		<key>publisher</key>
		<string>中国人民大学出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s27237385.jpg</string>
		<key>title</key>
		<string>金融学</string>
		<key>author</key>
		<string>黄达</string>
		<key>publisher</key>
		<string>中国人民大学出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s6300563.jpg</string>
		<key>title</key>
		<string>金融学</string>
		<key>author</key>
		<string>兹维·博迪//罗伯特·C·默顿//戴维·L·克利顿</string>
		<key>publisher</key>
		<string>中国人民大学</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img5.doubanio.com/mpic/s10426736.jpg</string>
		<key>title</key>
		<string>金融学</string>
		<key>author</key>
		<string>黄达</string>
		<key>publisher</key>
		<string>中国人民大学出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s6277651.jpg</string>
		<key>title</key>
		<string>货币金融学</string>
		<key>author</key>
		<string>弗雷德里克·S·米什金</string>
		<key>publisher</key>
		<string>中国人民大学出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s5813220.jpg</string>
		<key>title</key>
		<string>货币金融学</string>
		<key>author</key>
		<string>弗雷德里克·S·米什金</string>
		<key>publisher</key>
		<string>中国人民大学出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s24424672.jpg</string>
		<key>title</key>
		<string>货币金融学</string>
		<key>author</key>
		<string>弗雷德里克·S·米什金</string>
		<key>publisher</key>
		<string>中国人民大学出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s9130361.jpg</string>
		<key>title</key>
		<string>国际金融学</string>
		<key>author</key>
		<string>姜波克</string>
		<key>publisher</key>
		<string>高等教育出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s3310750.jpg</string>
		<key>title</key>
		<string>《货币金融学》米什金，第七版（英文）</string>
		<key>author</key>
		<string>FredericS．Mishkin</string>
		<key>publisher</key>
		<string>Pearson Publications Company</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s4118441.jpg</string>
		<key>title</key>
		<string>货币金融学</string>
		<key>author</key>
		<string>弗雷德里克·S·米什金</string>
		<key>publisher</key>
		<string>清华大学出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img5.doubanio.com/mpic/s5641066.jpg</string>
		<key>title</key>
		<string>行为金融学</string>
		<key>author</key>
		<string>李国平</string>
		<key>publisher</key>
		<string>北京大学出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s28258874.jpg</string>
		<key>title</key>
		<string>货币金融学</string>
		<key>author</key>
		<string>弗雷德里克 S.米什金(Frederic S.Mishkin)</string>
		<key>publisher</key>
		<string>机械工业出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s24606865.jpg</string>
		<key>title</key>
		<string>鲍尔货币金融学</string>
		<key>author</key>
		<string>劳伦斯·鲍尔</string>
		<key>publisher</key>
		<string>中国人民大学出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s28258874.jpg</string>
		<key>title</key>
		<string>货币金融学</string>
		<key>author</key>
		<string>弗雷德里克 S.米什金(Frederic S.Mishkin)</string>
		<key>publisher</key>
		<string>机械工业出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s8835222.jpg</string>
		<key>title</key>
		<string>行为金融学</string>
		<key>author</key>
		<string>露西·阿科特(Lucy F.Ackert) (编者)</string>
		<key>publisher</key>
		<string>清华大学出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s6017584.jpg</string>
		<key>title</key>
		<string>每天学点金融学</string>
		<key>author</key>
		<string>严行方</string>
		<key>publisher</key>
		<string>清华大学出版社</string>
	</dict>
	<dict>
		<key>imageURL</key>
		<string>https://img3.doubanio.com/mpic/s27184835.jpg</string>
		<key>title</key>
		<string>聪明投资者的第一本金融学常识书</string>
		<key>author</key>
		<string>肖玉红</string>
		<key>publisher</key>
		<string>中国华侨出版社</string>
	</dict>
</array>
</plist>
